<div class="row span6 center">
  <table class="table table-striped">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Sale</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td><%= @row['name'] %></td>
      <td><%= @row['price'] %></td>
      <td><% if @row['on_sale'] == "t" %>
        <i class="icon-heart"></i>
        <% end %>
      </td>
      <td>
        <a href="/products/<%= @row['id'] %>/delete">
          <i class="icon-remove"></i>
        </a>
      </td>
    </tr>
  </table>

<form action='/products/<%= @row['id'] %>' method='post'>
  <p>
  <label for='product_name'>Edit Name</label>
  <input type='text' name ='product_name' value="<%= @row['name'] %>"/>
  <p>
  <label for='product_price'>Edit Price</label>
  <input type='text' name='product_price' value="<%= @row['price'] %>"/>
  <p>
  <button class="btn btn-info">Update it!</button>
</form>
</div>
