<div class="span12 center">
  <div class="row span6 right">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Sale</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <form action='/products/update/<%= @row['id'] %>' method='post'>
        <tr>
          <td>
            <input type='text' name ='product_name' value='<%= @row['name'] %>'/>
          </td>
          <td>
            <input class='price_input' type='text' name='product_price'
                   value="<%= "%.2f" % @row['price'] %>">
          </td>
          <td class='table_icons'>
            <input type='checkbox' name='on_sale' value='t'
                   <% if @row['on_sale'] == 't' %>
                   checked="true"
                   <% end %>>
          </td>
          <td class='table_icons'>
            <button class="btn btn-mini">EDIT</button>
          </td>
          <td class='table_icons'>
            <a href="/products/<%= @row['id'] %>/delete">
              <i class="icon-remove"></i>
            </a>
          </td>
        </tr>
      </form>
    </table>

    <%= @shopping_results['items'][0]['product']['description'] %>
    <br>
    <a class="btn btn-large btn-primary"
       href="<%= @shopping_results['items'][0]['product']['link'] %>">
      Buy it
    </a>
  </div>
  <div class="product_image">
    <img src="<%= @shopping_results['items'][0]['product']['images'][0]['link'] %>">
  </div>
</div>
