<div class="row span6 center">
<h1>Add new product</h1>
<form action='/products' method='post'>
  <p>
  <label for='product_name'>Name</label>
  <input type='text' name ='product_name'/>
  <p>
  <label for='product_price'>Price</label>
  <input type='text' name='product_price'/>
  <p>
  <button>Submit!</button>
</form>

  <table class="table table-striped">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Sale!</th>
      <th>Update</th>
      <th>Remove</th>
    </tr>
    <% @rs.each do |row| %>
    <tr>
      <td>
        <a href="/products/<%= row['id'] %>">
          <%= row['name'] %>
        </a>
      </td>
      <td><%= row['price'] %></td>
      <td>
        <% if row['on_sale'] == "t" %>
        <i class="icon-heart"></i>
        <% end %>
      </td>
      <td>
        <a href="/products/<%= row['id'] %>">
          <i class="icon-pencil"></i>
        </a>
      </td>
      <td>
        <a href="/products/<%= row['id'] %>/delete">
        <i class="icon-remove"></i>
        </a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
