<div class="row span8 center">
<form action='/products' method='post'>
  <p>
  <input type='text' name='product_name' placeholder='Name'/>
  <input type='text' name='product_price' placeholder='Price'/>
  <button class="btn btn-info">Add Item</button>
  <!--<input type='checkbox' name='on_sale'> On Sale </input>-->
</form>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Sale!</th>
      <th>Update</th>
      <th>Remove</th>
      <th>Twitter Search</th>
    </tr>
    <% @rs.each do |row| %>
    <tr>
      <td>
        <a href="/products/<%= row['id'] %>">
          <%= row['name'] %>
        </a>
      </td>
      <td><%= row['price'] %></td>
      <td>
        <% if row['on_sale'] == "t" %>
        <i class="icon-heart"></i>
        <% end %>
      </td>
      <td>
        <a href="/products/<%= row['id'] %>">
          <i class="icon-pencil"></i>
        </a>
      </td>
      <td>
        <a href="/products/<%= row['id'] %>/delete">
        <i class="icon-remove"></i>
        </a>
      </td>
      <td>
        <a href="/products/search?q=<%= URI.escape(row['name']) %>">
        <i class="icon-circle-arrow-right"></i></a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
